# ====================================================================
# 各コンテナの環境変数設定用のサンプルファイルです。
# 本ファイルの内容をコピーして、同じディレクトリに.envという名前で保存してください。
# その後、各項目の値を実際の環境に合わせて書き換えてください。
# ====================================================================

# --- DBサービス関連 ---
# ローカル環境用：公式PostgreSQLイメージを使用
DB_CONTAINER_IMAGE=postgis/postgis:16-3.4
DB_CONTAINER_NAME=droneport-db
DB_PORT=5432

# --- Droneportサービス関連 ---
DRONEPORT_API_PORT=8080
# ローカル環境用：ローカルビルドのイメージを使用
DRONEPORT_CONTAINER_IMAGE=droneport-server-local:latest
DRONEPORT_CONTAINER_LABEL=droneport-app
DATASOURCE_HOST=droneport-db # コンテナ間通信のため、DBのコンテナ名を指定
DB_NAME=droneroute # 変更が必要な場合には書き換えてください
DB_USER_NAME=droneroute # 変更が必要な場合には書き換えてください
DB_PASSWORD=droneroutepassword # ★実際のDBパスワードに書き換えてください
USER_ATTRIBUTE_API_ORIGIN=http://example.domain.com # ★実際のユーザ属性取得APIのオリジンに書き換えてください
ROUTE_OPERATOR_ID=12345678-1234-1234-1234-123456789abc # ★実際の航路運営事業者IDに書き換えてください
ASSET_API_KEY=50d858e0985ecc7f60418aaf0cc5ab587f42c2570a884095a9e8ccacd0f6545c # ★"example"のSHA-256ハッシュ値です。本番環境では必ず変更してください
VIS_BROKER_HOST=tcp://example.domain.com # ★実際のVISブローカーの接続先ホスト名に書き換えてください
VIS_BROKER_USER_NAME=visuser # ★実際のVISブローカーの接続ユーザー名に書き換えてください
VIS_BROKER_PASSWORD=vispassword # ★実際のVISブローカーの接続ユーザーのパスワードに書き換えてください
VIS_BROKER_CLIENT_ID=visclient # ★実際のVISブローカーの接続クライアントIDに書き換えてください
VIS_TELEMETRY_ENABLE=true # テレメトリのVISブローカーへの送信を有効にするかどうか（true/false）
